* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Color variables */
  --primary-color: #fcf0e0;
  --secondary-color: #b14244;
  --accent-color: #cfc0b0;
  /* --accent-color: #8f6e5c; */
  --accent-color-2: #ac2b2b;

  /* Gradients */
  --gradient-primary-secondary: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );

  --banner-gradient: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 10%,
    var(--secondary-color) 90%,
    var(--primary-color) 100%
  );

  /* Shadow variables */
  --shadow-small: 1px 1px 2px rgba(0, 0, 0, 0.6);
  --shadow-medium: 2px 2px 8px gray;
  --shadow-large: 2px 2px 8px gray;

  /* Custom variables */
  --banner-height: 55px;
  --section-spacing: 64px;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--primary-color);
  color: var(--primary-color);
}

main {
  margin: calc(var(--banner-height) + (var(--section-spacing) * 0.66)) 16px;
}

/* Global class stylings */
.section-sizing {
  max-width: 700px;
  margin: var(--section-spacing) auto;
}
