/*
    Footer Styles
*/
.footer {
  height: var(--banner-height);
  width: 100%;

  background-color: var(--secondary-color);

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer__navigation {
  height: inherit;
}

.footer__navigation-list {
  height: inherit;
  list-style: none;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__navigation-list-item {
  height: inherit;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__image {
  height: 45px;
}

.footer .highlight {
  background-color: var(--accent-color);
}
